<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script>
    $(document).ready(function() {
	    $('form').submit(function() {
	        // load up any gif you want, this will be shown while user is waiting for response
	        var gif ="<img src=static/image/ripple.gif />";
	        $('#video').html(gif);
	        $.post($(this).attr('action'), $(this).serialize(), function(res) {
	            // pay careful attention to the response object
	            console.log('the response object:');
	            console.log(res);
	            var html_string = "";
	            if(res.results.length !== 0) {
	                html_string = "<video controls src='" + res.results[0].previewUrl + "'><\/video>";
	            } else {
	                html_string = "Not Found";
	            }
	            console.log('the html string:');
	            console.log(html_string);
	        	$('#video').html(html_string); 
	        	        }, 'json');
	        // don't forget, without it the page will refresh
	        return false;
	    });
	});
    </script>
  </head>
  <body>
    <h1> Enter Artist's Name</h1>
    <form action="/main/get_movie" method="post">
	    <label for="user_input">Enter Artists's Name:</label>
	    <input id="user_input" name="user_input" type="search">
	    <input type="submit" value="search">
	</form>
	<div id = 'video'></div>
	</body>
</html>
